{% extends 'consulta.html' %}
{% load static %}
{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Id</th>
        <th scope="col" style="width: 30%;">Cuenta</th>
        <th scope="col" style="width: 30%;">Tipo de Cuenta</th>
        <th scope="col" style="width: 30%;">Descripción</th>
        <th scope="col" style="width: 30%;">Naturaleza</th>
        <th scope="col" style="width: 30%;">Nivel</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
  <tr>
      <td>1</td>
      <td>1.111</td>
      <td>Activo</td>
      <td>Banco</td>
      <td>C</td>
      <td>1</td>
      <td class="acciones">
          <a href="#">✏️</a>
          <a href="#">❌</a>
      </td>
  </tr>
{% endblock %}
