{% extends 'consulta.html' %}
{% load static %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;">Id</th>
        <th scope="col" style="width: 30%;">Descripción</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block rows %}
  <tr>
      <td>1</td>
      <td>Nivel 1</td>
      <td class="acciones">
          <a href="#">✏️</a>
          <a href="#">❌</a>
      </td>
  </tr>
    <tr>
      <td>2</td>
      <td>Nivel 2</td>
      <td class="acciones">
          <a href="#">✏️</a>
          <a href="#">❌</a>
      </td>
  </tr>
    <tr>
      <td>3</td>
      <td>Nivel 3</td>
      <td class="acciones">
          <a href="#">✏️</a>
          <a href="#">❌</a>
      </td>
  </tr>
{% endblock %}